<h1>Llena la encuesta</h1>

<form action="/enviar_encuesta" method="POST" >
  <div>
    <label>Ingresa tu nombre:</label>
    <input type="text" name="nombre"/>
  </div>

  <div>
    <label>Selecciona tu sexo</label>
    <select name="sexo">
      <option value="M">Hombre</option>
      <option value="F">Mujer</option>
    </select>
  </div>

  <div>
    <label>Selecciona tu pais</label>
    <select name="id_pais">
      <% paises.each do |pais| %>
        <option value="<%= pais['id'] %>">
          <%= pais['nombre'] %>
        </option>
      <% end %>
    </select>
  </div>

  <div>
    <label>Ingresa tu edad</label>
    <input type="number" name="edad" />
  </div>

  <div>
    <input type="submit" value="Enviar">
  </div>
</form>
